.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    height: 5vh;
    color: #f1f3fa;
}

.Header__Container {
    padding: 10px;
}

.Header__Info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header__Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

.Header__Tooltip {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    height: 30px;
}

.Header__Tooltip__Icon {
    margin-right: 10px;
    margin-left: 10px;
}

.Header__Tooltip:hover {
    border-radius: 10px;
    background-color: gray;
}