.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
}

.Header__Container {
    padding: 10px;
}

.Header__Info {
    display: flex;
    
}