.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.Login__Container {
  position: relative;
  background-color: var(--secondary-color);
  margin: auto;
  padding: 30px;
  height: max-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.Login__Container > input {
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  position: relative;
}

.Login__Container > input:focus {
  outline: none;
}

.Login__Button {
  border: none;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 20px;
  font-size: 1.1rem;
  width: 25%;
  background-color: var(--tertiary-color);
}

.Login__Password__Toggle {
  position: absolute;
  bottom: 165px;
  right: 8%;
  z-index: 1000;
  cursor: pointer;
  color: var(--primary-color);
}

.Login__Error__Message {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: max-content;
  border-radius: 5px;
  background-color: var(--error-color);
}
.Login__Container > h4{
  color: white;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .Login__Container {
    width: 70vw;
  }
}


