.Ordinances {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.Ordinances__Top__Title {
  margin-left: 10px;
  margin-bottom: 10px;
}

.Ordinances__Container {
  display: inherit;
  flex-direction: column;
  justify-content: left;
  width: 95%;
}

.Ordinances__Link {
  cursor: pointer;
  user-select: none;
  border-collapse: separate;
  border-spacing: 0;
}

.Ordinances__Link:hover {
  background-color: gainsboro;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}

.Ordinances__Link:hover td {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}

.Ordinances__Content {
  padding: 10px;
  flex-grow: 1;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #b6b5b5;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  border: none;
  padding: 10px;
}

.Ordinances__Center {
  text-align: center;
}

.Ordinances__Download {
  cursor: pointer;
}

.Ordinances__Card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  width: 95%;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #b6b5b5;
}

.Ordinances__Legend {
  background-color: white;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  padding: 20px;
  box-shadow: 3px 3px 3px #b6b5b5;
}

.Ordinances__Legend > div {
  display: flex;
}

.Ordinances__Legend > div > div {
  margin: 3px;
  height: 15px;
  width: 15px;
  border-radius: 5px;
}