.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
  background-color: var(--secondary-color);
  width: 15vw;
  height: auto;
  transition: ease-in-out 0.5s;
}

.Sidebar__Buttons {
  width: 100%;
  margin-top: 20px;
  transition: ease-in-out 0.5s;
}

.Sidebar__Button {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid black;
  transition: ease 200ms; 
  color: black;
  text-decoration: none;
  user-select: none;
  transition: ease-in-out 0.5s;
}

.Sidebar__Button > p{
  margin-left: 10%;
}

.Sidebar__Button:hover {
  background-color: darkgray;
}

.Sidebar__Button.active {
  background-color: var(--primary-color);
}
